.devops{
    background-color: rgba(39, 77, 227, 0.5);
    font-weight: 700;
}
.frontend{
    background-color: rgba(61, 130, 205, 0.5);
    font-weight: 700;

}
.backent{
    background-color: rgba(58, 112, 105, 0.5);
    font-weight: 700;

}
.testing{
    background-color: rgb(155, 173, 218, 0.5);
    font-weight: 700;

}
.UX{
    background-color: rgba(213, 221, 225, 0.5);
    font-weight: 700;

}
.Infrastructure{
    background-color: azure;
    font-weight: 700;

}
.mobile{
    background-color: rgb(219, 169, 244, 0.5);
    font-weight: 700;

}